.faculty {
  padding-top: 2rem;
  width: 100%;
}

.faculty__header {
  color: var(--dark-font-color);
}

.faculty__list {

}

.faculty__item {
  margin-top: 0.25rem;
  background-color: var(--dark-backround-color);
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.faculty__controls {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.faculty__edit {
  color: var(--dark-font-color);
  background-color: var(--gray-backround-color);
  padding: 0 1rem 0 1rem;
}

.faculty__edit:hover {
  background-color: var(--dark-gray-backround-color);
}

.faculty__edit:active {
  background-color: var(--gray-backround-color);
}

.faculty__delete {
  background-color: var(--delete-backround-color);
  padding: 0 1rem 0 1rem;
}

.faculty__delete:hover {
  background-color: var(--delete-backround-hover-color);
}

.faculty__delete:active {
  background-color: var(--gray-backround-color);
}

@media only screen and (max-width: 1200px) {
  .faculty__item {
    height: 4rem;
    gap: 2rem;
  }
}