.tutor {
    width: var(--content-width);
    padding-top: 2rem;
}

.tutor__header {
    color: var(--dark-font-color);
}

.tutor__item {
    margin-top: 0.25rem;
    height: 3rem;
    background-color: var(--dark-backround-color);
    padding: 0 1rem 0 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;
}

.tutor__controls-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.tutor__form {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 2rem;
}

.tutor__add-icon {
    width: 3.1rem;
    margin-right: -3rem;
}

.tutor__checkbox {
    transform : scale(200%);
    background: var(--gray-backround-color);
    color: var(--gray-backround-color);
}

.tutor__add-button {
    width: 3.1rem;
    height: 3.1rem;
    margin-right: -3rem;
}

@media only screen and (max-width: 1200px) {
    .tutor__item {
        gap: 2rem;
    }

    .tutor__remove-icon {
        width: 3rem;
    }
}

@media only screen and (max-width: 600px) {
    .tutor__name {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 10rem;
        white-space: nowrap;
    }
}