.user {
  padding-top: 2rem;
  width: 100%;
}

.user__header {
  color: var(--dark-font-color);
}

.user__list {

}

.info {
  background: var(--light-gray-backround-color);
  padding-left: 1rem;
  color: var(--dark-font-color);
}

.user__item {
  margin-top: 0.25rem;
  background-color: var(--dark-backround-color);
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.user__item {
  margin-top: 0.25rem;
  background-color: var(--dark-backround-color);
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.user__item:hover {
  color: var(--default-font-color-hover);
}

.user__item:active {
  color: var(--default-font-color-clicked)
}

.user__controls {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.user__edit {
  color: var(--dark-font-color);
  background-color: var(--gray-backround-color);
  padding: 0 1rem 0 1rem;
}

.user__edit:hover {
  background-color: var(--dark-gray-backround-color);
}

.user__edit:active {
  background-color: var(--gray-backround-color);
}

.user__delete {
  background-color: var(--delete-backround-color);
  padding: 0 1rem 0 1rem;
}

.user__delete:hover {
  background-color: var(--delete-backround-hover-color);
}

.user__delete:active {
  background-color: var(--gray-backround-color);
}

.user__filter {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  user-select: none;
}

.filter-tile {
  text-transform: capitalize;
  background-color: var(--gray-backround-color);
  color: var(--dark-font-color);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-tile:hover {
  background-color: var(--default-font-color-hover);
}

.filter-tile:active {
  background-color: var(--gray-backround-color);
}

.selected-tile {
  background-color: var(--default-font-color-hover);
}

@media only screen and (max-width: 1200px) {
  .user__item {
    height: 4rem;
    gap: 2rem;
  }
}